<!DOCTYPE html>
<html>
<title>Otro2</title>
<head>
		<title>menu</title>
       <link rel="stylesheet" type="text/css" href="Otro2.css">

</head>

	<header>
		<section id="menu">
			<ul>
  					<a href="#">INICIO</a>
  					<a href="#"> ACERCA </a>
  					<a href="#"> SERVICIO </a>
  					<a href="#"> CONTACTO </a>

			</ul>
		</section>
	</header>
<h1>Hola</h1>
<section class="parallax">
    <div class="parallax-inner">
    <h2> HOLAA </h2>


    </div>
<footer>
		<div>


		<img SRC="UNAM1.jpg" WIDTH=185 HEIGHT=200 align= "right"></img>

		<h6> Contacto </h6>



		<form id="contact_form" action="jcalderonm@cenapred.unam.mx" method="POST" enctype="multipart/form-data">

			<div class="row">


			 <label for="name">Tu nombre:</label><br />
			 <input id="name" class="input" name="name" type="text" value="" size="60" /><br />
		 </div>
		 <div class="row">
			 <label for="email">Tu email:</label><br />
			 <input id="email" class="input" name="email" type="text" value="" size="60" /><br />
		 </div>
		 <div class="row">
			 <label for="message">Tu mensaje:</label><br />
			 <textarea id="message" class="input" name="message" rows="7" cols="60"></textarea><br />
		 </div>
		 <a href=Otro3.html><input  id="submit_button" type="submit" value="Enviar email" ></a>

		</form>


		</div>

		<h4 align="center">UNIVERSIDAD NACIONAL AUTONOMA DE MEXICO </h4>
		 <h5 align="center"> JORGE CALDERON MENDOZA</h5>

</footer>
</html>
